.languageEntry {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}

.languageInput {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.languageSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
}